.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.custom-scroll::-webkit-scrollbar {
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
